@import "tailwindcss";
@plugin "daisyui";

@theme {
    --color-brand-primary: #5c7f67;
    --color-brand-secondary: #ecf0f1;
    --color-brand-accent: #d35400;

    --font-display: Playfair Display;
    --font-body: Inter;

    --spacing-container: 1280px;
}

:root {
    --p: 55% 0.1 147;
    /* Earthy Green in Oklch */
    --primary: #5c7f67;
}


body {
    background-color: #ffffff;
    color: #1f2937;
    /* gray-800 */
}

@utility container-wrapper {
    max-width: var(--spacing-container);
    margin-inline: auto;
    padding-inline: 1.5rem;
}

::selection {
    background-color: var(--color-brand-accent);
    color: white;
}